.chat-float-button {
  position: fixed;
  bottom: 34px;
  right: 50px;
  width: 48px;
  height: 48px;
  background-color: none ;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 8px;
  cursor: pointer;
  z-index: 1000;
    border: 2px solid #000000 ;
}
.chat-float-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chat-window {
  position: fixed;
  bottom: 100px;
  right: 24px;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  overflow: hidden;
}

.chat-header {
  padding: 12px;
  background-color: #0a1d45;
  color: white;
  font-weight: bold;
  position: relative;
}

.chat-messages {
  padding: 10px;
  height: 240px;
  overflow-y: auto;
  background-color: #f6f6f6;
}

.chat-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.chat-row.bot {
  flex-direction: row;
}
.chat-row.user {
  justify-content: flex-end;
}

.chat-avatar {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

.chat-bubble-left {
  background-color: #e1eaff;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.chat-bubble-right {
  background-color: #bfe3c1;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.chat-window input {
  border: none;
  padding: 12px;
  font-size: 14px;
  border-top: 1px solid #ccc;
  outline: none;
}

.chat-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 3px;
  right: -20px;
  cursor: pointer;
}

.chat-bubble-left.typing {
  font-style: italic;
  opacity: 0.7;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}


body.dark .chat-float-button {
      background-color: #ffffff ;
}