*{
    box-sizing: border-box;
}

body {
    background-color: #d4e7d8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 20px 40px; /* Platz unter dem Header */
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color:#4e6759;
}

form {
    background: #afceb5;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    width: 100%;
    max-width: 900px;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4e6759;
}

button{
    margin: 10px 0;
    padding: 12px;
    border: solid 0.5px #4e6759;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    background-color: #4e6759;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover{
    background-color: #d4e7d8;
    color: #4e6759;
}