.faq-container {
  margin: 2rem auto;
  padding: 1rem;
}



.faq-section {
  margin-bottom: 2rem;
}

.faq-category {
  font-size: 1.2rem;
  color: #2c3e50;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  font-weight: bold;
  color: #34495e;
  font-size: 1rem;
}

.faq-answer {
  margin-left: 0.5rem;
  color: #555;
  font-size: 0.95rem;
}