.profile-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #172554; 
}

.inline-edit {
  margin-top: 5px;
  margin-bottom: 10px;
}

.edit-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.small-btn {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.equipment-options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 5px 10px;
  background-color: #f9f9f948;
  border-radius: 5px;
}

.equipment-options label:hover {
  background-color: #f9f9f9b9;
}


input.editing, select.editing {
  border: 2px solid #d89c19;
  outline: none;
  background-color: #f0f8ff;
}

input.readonly{
 opacity: 60%;
}

input{
  opacity: 70%;
}