body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

.navlink-like {
  color: inherit;
}

body.dark .navlink-like {
  color: #ddd;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #1e3a8a !important;
}

h1{
  color: #1e3a8a !important;
}
